html,
body
    margin 0
    padding 0
    height 100%
#app
    display grid
    grid-template-columns minmax(1em, 1fr) minmax(300px, 520px) minmax(1em, 1fr)
    grid-template-rows auto
    box-sizing border-box
    height 100%
main
    box-sizing border-box
    margin 60px auto
    padding 30px 60px 60px
    height auto
    max-width 100%
    grid-column 2/3
    grid-row 1/2
    &.view__home
        border 1px solid #ccc
        border-radius 6px
    &.view__about
        a
            color inherit
            font-style italic

header
    display flex
    justify-content space-between
    .btn
        align-self center
        transition background-color 10ms ease-in-out

.btn
    padding .5em 2em
    border none
    border-radius 3px
    color #fff
    font-size 18px
    font-weight 700

.add-form
    .form-control
        margin-bottom 1em
        font-size 18px

    label
        display inline-block
        margin-bottom .25em
        text-transform lowercase
        font-variant small-caps
        font-weight 700

    input[type="text"]
        box-sizing border-box
        padding .5em .25em
        width 100%

    input[type="checkbox"]
        position relative
        top 8px
        left .75em
        height 24px
        width 24px

    input[type="submit"]
        background #000
        
.task-list
    margin-top 60px

.task
    box-sizing border-box
    margin 0 auto 1rem
    width 400px
    max-width 100%
    background #f0f0f0
    border-left 3px solid darken(#f0f0f0, 30%)
    box-shadow 1px 2px 3px 0px rgba(#888, .8)
    transform scale(1)
    transition transform 100ms ease
    &--reminder
        border-left 4px solid green

    &__details
        padding .5em 2em
    &__name
        display flex
        align-items center
        justify-content space-between
        margin-bottom 0
        font-size 1.17em
        font-weight 700
        line-height 1.6
    .feather-x
        color #c0c0c0
        transform-origin center
        transform scale(0)
        transition transform 100ms ease
    &__day
        margin-top 0

    &:hover
        transform scale(105%)
        transition transform 100ms ease
        .feather-x
            transform scale(1)
            transition transform 100ms ease
              
footer
    padding 1em 0
    grid-column 1/-1
    align-self flex-end
    text-align center
    a
        color inherit
        font-style italic

@media screen and (max-width: 600px)
    main
        font-size 12px
        padding: 30px 1em 30px
    .task-list
        margin-top 30px
    .add-form
        input[type="submit"]
            font-size 16px
